*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    font-family: cursive;
    font-size: 1.1em;
    line-height: 1.2;
}

.main{
    border: 3px dashed black;
    width: 70%;
    margin: 5% auto;
    text-align: center;
    color: #333;
}

.result{
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    text-decoration: underline;
}

.horizontal{
    border: 4px solid darkcyan;
    position: absolute;
    height: 50%;
    top: 22.5%;
    left: 42%;
}
ul{
    list-style: none;
    width: 25%;
    margin: 3% auto;
}
li{
    padding: 5%;
    text-align: left;
}
input[type='alphanumeric']{
    padding: 5%;
    font-weight: bolder;
}

input[type='submit']{
    display: inline;
    padding: 4%;
    font-size: 1.5rem;
    font-weight: bolder;
}

input[type='reset']{
    display: inline;
    padding: 4%;
    font-size: 1.5rem;
    font-weight: bolder;
}